@model IEnumerable<WestdalePharmacyApp.Models.Message>

@{
    ViewData["Title"] = "Index";
}

<h3>
    <a asp-action="Create" class="btn btn-info">Send New Message</a>
</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Timestamp)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.From_UserEmail)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Timestamp)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.From_UserEmail)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.MessageId" class="btn btn-info">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
